################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebLegadoEducativo01/v15/Server/sqlite3
