.filter {
    display: none;
    z-index: 1;
    position: absolute;
    background-color: rgba(0,0,0, .5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.Container_ConoceMasLE {
    position: relative;
    height: 95vh;
}

/*__Texto__*/
.Container_txt_ConoceMasLE {
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2d2f2f;
}

    .Container_txt_ConoceMasLE .txt_ConoceMas {
        z-index: 3;
        padding: 15%;
        width: 100%;
    }

        .Container_txt_ConoceMasLE .txt_ConoceMas h1 {
            border-bottom: 0.4rem solid white;
            padding: 2.5% 0;
            font-size: 1.3rem;
        }

        .Container_txt_ConoceMasLE .txt_ConoceMas p {
            margin: 5% 0;
            font-size: 1.1rem;
        }

    /*__Imagenes__*/
    .Container_txt_ConoceMasLE .Right {
        position: relative;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .Container_txt_ConoceMasLE .Left {
        position: relative;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

/*__Boton__*/
#Container_BtnBlanco > .BtnBlanco {
    cursor: pointer;
    border: 0.1vw solid #ffffff;
    border-radius: 100vw;
    padding: 1.5% 4.5%;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: transparent;
    color: #ffffff;
    transition: 0.5s;
}

    #Container_BtnBlanco > .BtnBlanco:hover {
        border: .1vw solid #ffffff;
        background-color: #ffffff;
        color: #000000;
    }

/*Móviles*/
@media (max-width: 767px) {
    .filter {
        display: block;
    }
    .Container_txt_ConoceMasLE .Right {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .Container_txt_ConoceMasLE .Left {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}
/*Tabletas*/
@media (min-width: 768px) and (max-width:1023px) {
    .filter {
        display: block;
    }

    .Container_txt_ConoceMasLE .Right {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .Container_txt_ConoceMasLE .Left {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}
/*Portátiles*/
@media (min-width: 1024px) and (max-width:1280px) {
}
/*Escritorio*/
@media (min-width: 1281px) {
}
