/*--------------------------------------------------*/
/*----- Fernando Facio Reyes -- Gya-Contsulting ----*/
/*--------------------------------------------------*/

.Footer {
    background-color: #403b33;
    font-size: 1rem;
    display: grid;
    justify-content: center;
    padding: 2% 5%;
}

#Container_opts {
    width: auto;
    display: grid;
    grid-template-columns: 1.25fr 1fr .75fr 1fr;
}

.Container_opts {
    margin: 1rem;
}

    .Container_opts > a {
        font-weight: 600;
        color: #fff500;
    }

.Container_Txt_Img {
    display: flex;
    align-items: center;
    margin-top: .75rem;
    width: 100%;
}

    .Container_Txt_Img img {
        width: 1rem;
        margin-right: 5%;
    }

    .Container_Txt_Img a {
        text-decoration: none;
        color: white;
        font-size: .9rem;
    }

        .Container_Txt_Img a img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

.link {
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

    .link:hover {
        color: rgba(255, 255, 255, 0.5);
    }

#img_Facebook, #img_Twitter, #img_Instagram, #img_Youtube {
    width: 2rem;
    height: 2rem;
    padding-right: 5%;
}

#Container_copy {
    width: 100%;
    margin-top: 1.5%;
    padding-top: 1.5%;
    font-size: 0.75rem;
    color: white;
    border-top: 0.1vw solid rgba(241, 241, 241, 0.16);
    display: grid;
    grid-template-columns: 1.75fr .75fr .75fr .75fr .75fr;
}

    #Container_copy a {
        display: block;
        margin: auto 0;
        text-align: center;
    }

#derechos {
    padding-right: 2%;
    border-right: 0.1vw solid rgba(241, 241, 241, 0.16);
}

.link_copy {
    text-decoration: none;
    padding: 0.5%;
    cursor: pointer;
    color: rgba(240, 240, 240, 0.4);
    transition: 0.5s;
}

    .link_copy:hover {
        color: white;
    }

#img_logoUdem_Footer {
    display: flex;
    width: 60%;
    justify-content: center;
}

    #img_logoUdem_Footer > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/*moviles*/
@media (max-width: 767px) {
    #Container_opts {
        grid-template-columns: 1fr;
    }

    #Container_copy {
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #derechos {
        padding: 3% 0%;
        width: 100%;
        line-height: 150%;
        border: none;
    }

    .link_copy {
        padding: 3% 0%;
    }

    #img_logoUdem_Footer {
        display: flex;
        width: 100%;
        justify-content: center;
    }

        #img_logoUdem_Footer > img {
            width: 20%;
        }

    #Container_copy {
        grid-template-columns: 1fr;
    }
}

/*Tabletas*/
@media (min-width: 768px) and (max-width:1023px) {
    #Container_opts {
        grid-template-columns: 1fr 1fr;
    }

    #Container_copy {
        padding-top: 2rem;
        grid-gap: 1.25rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #derechos {
        grid-column: span 3;
    }

    #img_logoUdem_Footer {
        grid-column: span 3;
        align-items: center;
        width: 100%;
    }

        #img_logoUdem_Footer img {
            width: 15%;
            display: block;
            margin: 0 auto;
        }
}

/*Portátiles*/
@media (min-width: 1024px) and (max-width:1280px) {
}
/*Escritorio*/
@media (min-width: 1281px) {
}
