.ImgTesti {
    z-index: 2;
    bottom: -4vw;
    right: 20%;
    width: 25vw;
    height: 25vw;
    position: absolute;
    border-radius: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

    .ImgTesti > img {
        height: 100%;
    }

#Container_testimoniosLE {
}

#testimoniosLE > .title_Testimonios {
    text-align: center;
    font-size: 1rem;
    padding: 5%;
}

.Container_Btn_Testimonios {
    z-index: 3;
    width: 1.5rem;
    height: 1.5rem;
    margin: 5%;
    display: flex;
    justify-content: center;
}

    .Container_Btn_Testimonios .Btn_Testimonios {
        border: .12rem solid black;
        color: #000;
        border-radius: 100vw;
        cursor: pointer;
        font-size: 1rem;
        background-color: transparent;
        width: 1.5rem;
        height: 1.5rem;
    }

        .Container_Btn_Testimonios .Btn_Testimonios:hover {
            background-color: rgba(0, 0, 0, 0.15);
        }


    .Container_Btn_Testimonios .Btn_Testimonios_Disable {
        border: 0.15vw solid darkgrey;
        color: darkgrey;
        padding: 2%;
        border-radius: 100vw;
        cursor: pointer;
        font-size: 1.5rem;
        background-color: transparent;
    }


#Container_Slider_Testimonios {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Slider_Testimonios {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Container_card_Testimonios {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
}

    #Container_card_Testimonios .circuloMorado {
        z-index: -1;
        display: block;
        background-color: #c3abff;
        border-radius: 100vw;
        width: 80vw;
        height: 80vw;
    }

    #Container_card_Testimonios .circuloVerde {
        background-color: #04b687;
        display: none;
        position: absolute;
        border-radius: 100vw;
    }

.container_Txt_Testimonios {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

.Txt_Testimonios {
    display: block;
    word-wrap: break-word;
    font-style: italic;
    color: #fff;
    font-size: 1rem;
}

.container_cliente {
    padding: 2% 0%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    border-top: 0.2vw solid #ccc502;
    word-wrap: break-word;
}

.cliente_Testimonios {
    width: 100%;
    font-style: italic;
    color: #fff;
    font-size: .75rem;
}

/*__Video_01__*/
#container_VideoTesti {
    padding-top: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    #container_VideoTesti > .video {
        box-shadow: 0px 0px 1.5vw 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0px 0px 1.5vw 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 1.5vw 0px rgba(0, 0, 0, 0.5);
        width: 50%;
        margin: 0% 5%;
    }

        #container_VideoTesti > .video > video {
            display: block;
            width: 100%;
        }

/*__Video_02__*/
#container_VideoTesti02 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

    #container_VideoTesti02 > video {
        width: 60%;
        margin: 5% 10%;
    }

/*Moviles*/
@media (max-width: 425px) {
    #testimoniosLE > .title_Testimonios {
        font-size: .60rem;
        padding: 10% 5%;
    }

    .Container_Btn_Testimonios {
        margin: -1.75rem;
    }
}

/*Tabletas*/
@media (min-width: 426px) and (max-width:768px) {
}

/*Portatiles*/
@media (min-width: 769px) and (max-width:1024px) {
}

/*Escritorio*/
@media (min-width: 1025px) {
}
